/*STYLE FOOTER START*/
/* raleway-200 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/raleway-v34-cyrillic_latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-300 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/raleway-v34-cyrillic_latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/raleway-v34-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root {
  --main-text-color: #252525;
  --footer-bg-color: #ffffff;
}
.footer {
  background: var(--footer-bg-color);
  padding: 100px 0;
}
.footer__wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 150px;
}
.footer__nav {
  display: flex;
  justify-content: space-between;
  width: 75%;

}
.footer__menu-title{
  color: var(--main-text-color);
  font-family: 'Raleway',sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
  padding-bottom: 20px;
}
.footer__menu-item {
  padding-bottom: 10px;
}
.footer__menu-link {
  color:var(--main-text-color);
  font-family: 'Raleway',sans-serif;
  font-size: 16px;
  font-weight: 200;
  text-decoration: none;
}
.footer__menu-link:active , .footer__menu-link:hover, .footer__menu-link:focus{
  opacity: .75;
}
.copy {
  color: rgba(37, 37, 37, 1);
  font-family: 'Raleway',sans-serif;
  font-weight: 300;
  font-size: 12px;
  padding-top: 50px;
  padding-left: 25%;
}
  
  /*STYLE FOOTER END*/